.tarea {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#titulo {
    margin-top: 20px;
    margin-bottom: 20px;
}

#cont-tareas {
    height: 80vh;
    overflow: auto;
    overflow-y: auto;
}

#modal {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(205, 205, 205, 0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
}

#cont-form {
    height: 20%;
    width: 60%;
    background-color: white;
    margin-top: 10%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#tareaAct {
    margin-bottom: 20px;
}